@charset "UTF-8";

.tit-txt {
  font-size: 24px;
}


    .subject-box {
      display: inline-flex;
      align-items: center;
      color: #000;
      font-size: 20px;
      width: 120px;
      text-align: right;
      justify-content: flex-end;
      padding-right: 15px;
      line-height: 20px;
      position: relative; }
      
     .subject-box-txt {
        position: relative;
        padding-left: 10px;
        color: #000; }