@charset "utf-8";
@import "global.scss";


.relative {
	position: relative;
}

.mobile {
	display: none;
}

.ic {
	@include text-middle;
}

.sectionLine{
	height: 10px;
	width: 100%;
	background-color: #ededed;
}


label {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

.bg-gray{
	background: #f5f5f5;	
}

.clearfix:after {
	@include pseudo;
}

.ml5{
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}

.mt10 {
	margin-top: 10px;
}

.mt30 {
	margin-top: 20px;
}

.mt40 {
	margin-top: 40px;
}

.pt10 {
	padding-top: 10px;
}

.pt40 {
	padding-top: 40px;
}


.ic {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}


.overlay:before {
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: 500;

}

.overlay2:before{
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: 550;

}

.fbox{

	label{
		input{
			position: absolute;
			left: -9999px;
		}
	}
}


.tbox{
	height: 36px;

	&.full{
		width: 100%;
	}

	textarea{
		border:1px solid #a0a0a0;
		background-color: #fff;
		border-radius: 6px;
		padding:0 18px;
		width: 100%;
		line-height: 32px;
		outline: none;
		resize: none;

		&::placeholder{
			color: #898989;
		}
	}

	input[type=text]{
		border:1px solid #a0a0a0;
		background-color: #fff;
		border-radius: 6px;
		padding:0 18px;
		height: 100%;
		width: 100%;

		&::placeholder{
			color: #898989;
		}
	}



}

.ibox{

	&.full{
		width: 100%;
	}


	input{
		border-radius: 4px;
		width: 100%;
		border: 1px solid #ccc;
		height: 32px;
		font-size: 14px;
		padding: 0 12px;
		background-color: #fff;
		color: #000;

		&:focus {
			border: 1px solid #FBA43F

		}

		&::placeholder {
			color: #4E4F54;
		}
	}


}




.sbox {
	@include text-middle();
	position:relative;
	text-align: left;
	border:none;
	min-width: 150px;

	&.small{
		min-width: 80px;
	}

	&.normal{
		min-width:180px;
	}

	&.long{
		width: 290px;
	}

	&.full{
		width: 100%;
	}



	&.on{

		.set{
			.txt{
				background: url("../img/iconIcArrowUpBlack.svg") no-repeat top 3px right;
			}
		}
	}

	.set {
		color: #000;
		display: block;
		line-height: 43px;
		cursor: pointer;
		text-align: center;

		.txt{
			@include text-middle();
			line-height: 20px;
			font-size: 14px;
			background: url("../img/iconIcArrowDown.svg") no-repeat top 3px right;
			padding-right: 20px;

		}


		&.on{

		}
	}

	ul {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 46px;
		padding:4px 0;
		border: 1px solid $col_paleGrey;
		z-index: 10;
		border-radius: 4px;
		box-shadow: 0px 2px 6px 0px rgba(40,40,45,0.12);
		background-color: #fff;

		li {

			&:last-child {
				a {
					border-bottom: 1px solid transparent;

				}

			}

			a {
				text-align: center;
				font-size: 14px;
				font-weight: 400;
				@include lsPx(-30,16);
				padding: 0 15px;
				display: block;
				line-height: 40px;
				background-color: #fff;
				@include text_ellipsis;

				&:hover , &.on{
					color:  $col_primary2;
				}

			}

		}

	}


	select {
		text-align: left;
		width: 100%;
		/* you should keep these firsts rules in place to maintain cross-browser behaviour */
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		appearance: none;
		background: #fff url("../img/img_select_arrow.svg") no-repeat center right 8px;
		outline: none;
		@include lsPx(-40, 17);
		height: 32px;
		padding: 0 20px 0 12px;
		border: 1px solid #ccc;
		color: #fff;
		letter-spacing: initial;
		font-size: 14px;
		line-height: 20px;
		color: #000;
		border-radius: 4px;


		&:focus{
			border: 1px solid #FBA43F

		}

	}

	&.smaller {
		width: 60px;
	}

	&.big{
		width: 180px;
		height: 34px;
		font-size: 15px;

		select{
			background: url("../img/ic_select_arrow.png") no-repeat center right 9px;

		}

	}


}

.rbox {
	position: relative;
	display: inline-block;
	font-size: 0;

	label {
		@include text-middle();
		cursor: pointer;
		display: flex;
		align-items: center;
		min-width:20px;
		min-height:20px;

		input[type=radio] {
			position: absolute;
			left: -9999px;

			//&:disabled{
			//	& ~ i{
			//		background:url("../img/Check_Disable@3x.png") no-repeat center / cover;
			//
			//	}
			//}

			&:checked {

				& ~ i {
					background:url("../img/btnRadiobtnOn.svg") no-repeat center / cover;

				}

				& ~ .txt{
					color: #004bc8;
				}

			}
		}


		i {
			position: absolute;
			left:0;
			top:0;
			width: 20px;
			height: 20px;
			background:url("../img/btnRadiobtnOff.svg") no-repeat center / cover;
		}


		.txt {
			align-items: center;
			display: inline-flex;
			font-size: 16px;
			@include lsPx(-40, 16);
			color: #555555;

			padding-left: 30px;
			height: 20px;

		}
	}
}


.cbox {
	position: relative;
	display: inline-block;
	font-size: 0;
	text-align: left;

	label {
		@include text-middle();
		cursor: pointer;
		width: 100%;
		display: flex;
		align-items: center;
		position: relative;
		min-width:20px;
		min-height:20px;



		input[type=checkbox] {
			position: absolute;
			left: -9999px;

			//&:disabled{
			//	& ~ i{
			//		background:url("../img/Check_Disable@3x.png") no-repeat center / cover;
			//
			//	}
			//}

			&:checked {

				& ~ i {
					background:#fff url("../img/btnCheckboxOn.svg") no-repeat center / cover;

				}

			}
		}


		i {
			top:1px;
			position: absolute;
			left:0;
			width: 20px;
			height: 20px;
			display: inline-flex;
			align-items: center;
			background:#fff url("../img/btnCheckboxOff.svg") no-repeat center / cover;
		}


		.txt {
			padding-left: 30px;
			height: 20px;
			align-items: center;
			display: inline-flex;
			color: rgba(9,9,9,0.6);
			font-size: 16px;
		}
	}
}




article.paging {

	font-size: 0;
	text-align: center;

	ul {
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			&.num{
				a{
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 24px;
					height: 24px;
					font-size: 16px;
					color: #000;
				}


				& + .num{
					margin-left: 8px;
				}

				&.current{
					a{
						border-radius: 50%;
						background-color: #eef1f5;
						color: #000;
					}
				}
			}

			&.first{
				a{
					background:url("../img/paging_first.svg") no-repeat center / cover;
					width: 32px;
					height: 32px;
					margin-right: 10px;
				}
			}



			&.prev{
				a{
					background:url("../img/paging_left.svg") no-repeat center / cover;
					width: 32px;
					height: 32px;
					margin-right: 30px;
				}
			}

			&.next{

				a{
					margin-left: 30px;
					background:url("../img/paging_right.svg") no-repeat center / cover;
					width: 32px;
					height: 32px;
				}
			}

			&.last{
				a{
					margin-left: 10px;
					background:url("../img/paging_last.svg") no-repeat center / cover;
					width: 32px;
					height: 32px;
				}
			}



		}
	}


}
